[Unit]
Description=Hello ASCII Art Service
After=multi-user.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/hello.sh
StandardOutput=journal

[Install]
WantedBy=multi-user.target
